div #albumTab {
    display: flex;
    justify-content: center;
}

table #albums {
    width: 100%;
}

#albums th {
    padding: 1.5em;
}

#albums  td {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

table #albums, #albums td, #albums th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}